.dashboard{
    padding:50px;
    background:#f1f5f9;
    min-height:100vh;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:25px;
    margin:30px 0;
}